.git
CVS
.svn
.hg
.logs
.log
.lock-wscript
.wafpickle-N
.*.swp
.DS_Store
._*
npm-debug.log
node_modules
config.gypi
*.orig
package-lock.json
dist/
logs/
.nyc_output/
coverage
*.lcov
test.ts
.env
public
src/public
.elasticbeanstalk/